#canvas{
    margin-top: 200px;
    background: linear-gradient(blue, rgb(124, 143, 230), skyblue);
    border: 1px solid black;
    
}
#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.658);
}

.modalcontent{
    background: radial-gradient(black, grey, white);
    border: 1px solid black;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    text-align: center;
    font-size: 30px;
    color: rgb(134, 0, 0);

}
body{
    justify-content: center;
    display: flex;
}